svg {
  font: 14px "Open Sans";
}

.axis path,
.axis line {
  fill: none;
  stroke: #1e4a64;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #a8bcc6;
  font-size: 16px;
}

.axis .tick line {
  stroke: #1e4a64;
}

.area {
  stroke-width: 1;
}

.area.outer,
.legend .outer {
  fill: rgba(230, 230, 255, 0.8);
  stroke: rgba(216, 216, 255, 0.8);
}

.area.inner,
.legend .inner {
  fill: rgba(127, 127, 255, 0.8);
  stroke: rgba(96, 96, 255, 0.8);
}

.median-line,
.legend .median-line {
  fill: none;
  stroke-width: 1;
}

.legend text {
  font-weight: bold;
}

.marker text {
  text-anchor: middle;
}

.graph-title {
  fill: white;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 72px;
  transform: translateX(-100px);
}

.legend-text {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 36px;
}

.description {
  color: white;
  position: absolute;
  width: 400px;
  font-size: 20px;
}

.threshold-line {
  stroke: #4eb297;
  stroke-width: 2px;
}

.threshold-area {
  fill: url(#threshold_gradient);
}

.threshold-label {
  fill: white;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.th-stop-top,
.th-stop-bottom {
  stop-color: #4eb297;
  stop-opacity: 0.6;
}

.th-stop-middle {
  stop-color: #4eb297;
  stop-opacity: 0.2;
}
